@model IEnumerable<NCSustainablity.Models.EventCategory>
@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/AdminHeader/headerfooter.cshtml";
}

<section class="content" id="page-w">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-12">
                <h2>
                    Manage Categories
                </h2>
                <div class="inlineblock text-center m-r-15 m-l-15 d-none d-lg-inline-block">
                <a href="@Url.Action("AddCategory","Admin")" class="btn btn-success"> Add Category </a>                   
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="tab-content">
                    <div class="tab-pane active" id="classlist">
                        <div class="card">
                            <div class="body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Name</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                if (Model.Count() > 0)
                                                {
                                                    int i = 1;
                                                    foreach (var category in Model)
                                                    {
                                                        <tr>
                                                            <td>@i</td>
                                                            <td>@category.Name</td>
                                                            <td>
                                                                <a class="btn btn-sm btn-warning" href="@Url.Action("EditCategory","Admin",new {Id=category.Id})"><i class="zmdi zmdi-edit" style="color:white;"></i></a>
                                                                <button data-id="@category.Id" class="dltbtn btn btn-sm btn-danger">
                                                                    <i class="zmdi zmdi-delete" style="color:white;"></i>
                                                                </button>
                                                            </td>
                                                        </tr>
                                                        i++;
                                                    }
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>

    $(".dltbtn").click(function () {
		swal({
			title: "Confirm?",
			text: "Are you sure you want to delete?",
			icon: "warning",
			buttons: true,
			dangerMode: true,
		})
		.then((willDelete) => {
            if (willDelete) {
                $('#page-w').loading('start');
				$.ajax({
					type: 'POST',
					url: '@Url.Action("DeleteCategory", "Admin")',
					data: {
						Id: $(this).attr('data-id')
					}
				})
                .done(function (response) {
                    $('#page-w').loading('stop');
                    if (response == "true") {
                        swal("Record deleted Successfully.", {
                            icon: "success",
                            buttons: true,
                        })
                        .then((clicked) => {
                            if (clicked) {
                                setTimeout(function () { window.location.replace("@Url.Action("Category", "Admin")"); }, 500);
                            }
                        });  
                    }
                    else {
                        swal({
                            title: "Warning",
                            text: "Not Deleted " + response,
                            icon: "warning",
                            buttons: true,
                            dangerMode: true,
                        });
                    }
                 })
				.fail(function (XMLHttpRequest, textStatus, errorThrown) {
                    $('#page-w').loading('stop');
					alert("FAIL");
				});

			}
		});
	});
</script>